<p id="notice"></p>


	<div class="search_form container text-center">
    <%= form_with url: search_path, local: true, method: :get do |f| %>
    <label for="name" class="col-md-2 control-label">作品名</label>
      <%= f.text_field :word %>
      <%= f.submit "検索", class: "btn btn-sm btn-outline-secondary" %>
    <% end %>
    <% Genre.all.each do |genre| %>
      <%= link_to genre_path(genre.id) do %>
        <%= genre.name %>
      <% end %>
    <% end %>
  </div>



	<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h3>作品一覧(全<%= Movie.count %>件）</h3>
      <div class="d-flex flex-wrap">
        <% @movies.each do |movie| %>
        <div class="col-md-2">
          <%= link_to movie_path(movie.id) do %>
          <p><%= movie.name %></p>
          <p><%= movie.introduction %></p>
          <% end %>
        </div>
        <% end %>

      </div>
      <%#= paginate @movies %>
