<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    	<article>
        <h2 class="text-center m-5 border-bottom p-1 color:blue;">
          <%= @movie.name %>
        </h2>
        <h5 class="font-size:1em; m-5 text-center">
          <%= @movie.introduction %>
        </h5>
      </article>
      <div>
        <%= form_with model: @post, local: true do |f| %>
          <%= f.hidden_field :movie_id %>
          <%= f.text_area :review %>
          <%= f.submit %>
        <% end %>
      </div>
      <div class="inverse">
        <% if @posts.any? %>
          <% @posts.each do |post| %>
            <%= link_to post_path(post.id) do %>
            投稿者:<%= post.user.nick_name %><br>
            内容:<%= post.review %><br>
            <% end %>
            <hr>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>









      <div class="form-group">
         <%#= link_to "レビューを投稿する", new_post_path, class:"m-15 center btn btn-secondary btn-sm" %>
      </div>


