<article>

  <div class="opacity-25" >
    <%= image_tag 'movie', width: '100%', height: '50%' %>
  </div>


  <h2 class="text-center m-5 border-bottom p-1">新着映画</h2>

  <div class="container">
     <section class="row d-flex">


  <div class="d-flex flex-wrap">
    <% @movies.each do |movie| %>
        <div>
          <%= link_to movie_path(movie.id) do %>
          <%#= movie_tag movie.get_image, size: "100x100" %>
          <div class="col-md-3 col-sm-8 p-0 m-auto text-decoration-none btn-outline-dark">
            <p><%= movie.name %></p>
            <p><%= movie.introduction %></p>
          </div>
          <% end %>
        </div>
    <% end %>
  </div>

</section>
    <p class="notice"></p>
      <p><%= link_to "全ての作品を見る>>", movies_path, class: "text-center m-5" %></p>
  </div>
    </div>
  </div>




