<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-13 col-md-15 col-lg-10 px-5 px-sm-0">

        <h3><%= @user.nick_name %>さんの会員情報編集</h3>

         <%= form_with model: @user,url: admin_user_path(@user.id), method: :patch do |f| %>
              <table class="table">
                <tbody>
                  <tr>
                    <td>
                      会員ID
                    </td>
                    <td></td>
                    <td>
                      <%= @user.id %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      氏名
                    </td>
                    <td></td>
                    <td>
                      <%= f.text_field :nick_name, autofocus: true, class:"form-control name"%>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      年齢
                    </td>
                    <td></td>
                    <td>
                      <%= f.text_field :age, autofocus: true, class:"form-control age"%>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      性別
                    </td>
                    <td></td>
                    <td>
                      <%= f.text_field :sex, autofocus: true, class:"form-control name"%>
                    </td>
                  </tr>
                  <tr>
                  <td>
                      会員ステータス
                    </td>
                    <td></td>
                    <td>
                      <%= f.radio_button :is_deleted, false %>
                      <%= f.label :is_deleted, "有効", class: "text-active" %>
                    </td>
                    <td>
                      <%= f.radio_button :is_deleted, true %>
                      <%= f.label :is_deleted, "退会済み", class: "text-active" %>
                    </td>
                  </tr>
                </tbody>
              </table>


              <div class="form-group text-center">
                <%= f.submit "変更内容を保存", class:"btn btn-secondary" %>
              </div>
        <% end %>
