<p class="notice"></p>
<div class="container">
  <div class="row">
    <h1><%= @user.nick_name %>さんの会員詳細</h1>

  <p class="notice"></p>
  <div class="container">
    <div class="row">
    <table class="table">
      <tbody>
        <p class="notice"></p>
            <div class="container">
            <div class="row">
                   <tr>
                    <th>会員ID</th>
                    <td>
                      <%= @user.id %>
                    </td>
                  </tr>
                  <tr>
                    <th>氏名</th>
                    <td>
                      <%= @user.nick_name %>
                    </td>
                  </tr>
                  <tr>
                    <th>年齢</th>
                    <td>
                      <%= @user.age %>
                    </td>
                  </tr>
                  <tr>
                    <th>性別</th>
                    <td>
                      <%= @user.sex %>

                      <%#= User.sex_i18n[@user.sex] %>
                      <%#= f.hidden_field :payment_method, value: @order.payment_method %>
                    </td>
                  </tr>
                  <tr>
                    <th>メールアドレス</th>
                    <td>
                      <%= @user.email %>
                    </td>
                  </tr>
                  <tr>
                    <th>会員ステータス</th>
                    <td>
                      <% if @user.is_deleted == true %>
                      <span class="text-active">退会済み</span>
                      <% else %>
                      <span class="text-invalid">有効</span>
                      <% end %>
                    </td>
                  </tr>
              </tbody>
            </table>

            <p class="notice"></p>
              <div class="container">
                <div class="row">
                  <div class="form-group">
                    <%= link_to "編集する ", edit_admin_user_path, class:"btn btn-outline-primary btn-sm" %>
                  </div>
                  <div class="form-group">
                    <%= link_to "投稿履歴一覧を見る", admin_posts_path(id: @user.id), class:"btn btn-outline-success btn-sm" %>
                  </div>
                </div>
              </div>




  </div>
</div>
