<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-2 col-12">
      <h4>ログイン</h4>
      <p>会員の方のみレビュー投稿ができます。</p><br>
      <p>会員の方はこちらからログイン</p>



      <%= form_for(resource, as: resource_name, url: user_session_path) do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>
        <div class="field">
          <%= f.label :email, "メールアドレス" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password, "パスワード  " %><br>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "ログイン" %>
        </div>
      <% end %>
    </div>
    <div class="col-12 col-md-4">
    <h5 style="text-wrap: nowrap">会員登録がお済みでない方</h5>
    <p><%= link_to "こちら", new_user_registration_path %>から新規登録を行ってください</p>
  </div>
</div>