<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

        <h2>会員情報編集</h2>

         <%= form_with model: @user,url: user_path, method: :patch do |f| %>
              <table class="table">
                <tbody>
                  <tr>
                    <td>
                      ニックネーム
                    </td>
                    <td>
                      <%= f.text_field :nick_name, autofocus: true, class:"form-control name"%>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      年齢
                    </td>
                    <td>
                      <%= f.text_field :age, autofocus: true, class:"form-control name"%>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      メールアドレス
                    </td>
                    <td>
                      <%= f.text_field :email, autofocus: true, class:"form-control name"%>
                    </td>
                  </tr>
                </tbody>
              </table>


              <div class="form-group col-8 mx-auto">
                <%= f.submit "変更内容を保存する", class:"btn btn-secondary btn-sm" %>
                <%= link_to "退会する", users_confirm_path, class:"btn btn-danger btn-sm" %></div>
        <% end %>
