<p class="notice"></p>
<div class="container">
  <div class="row">
    <h1>マイページ</h1>

  <p class="notice"></p>
  <div class="container">
    <div class="row">
    <table class="table">
      <tbody>
        <h6>登録情報</h6>

          <div class="form-group">
            <%= link_to "編集する ", edit_user_path, class:"btn btn-outline-primary btn-sm" %>
          </div>

  <p class="notice"></p>
    <div class="container">
    <div class="row">
      <% if @user.profile_image.attached? %>
        <%= image_tag @user.profile_image, size: "200x200" %>
      <% else %>
        <%= image_tag 'no_image', size: "200x200" %>
      <% end %>
          <tr>
            <th>氏名</th>
            <td>
              <%= @user.nick_name %>
            </td>
          </tr>
          <tr>
            <th>年齢</th>
            <td>
              <%= @user.age %>
            </td>
          </tr>
          <tr>
            <th>性別</th>
            <td>
              <%= @user.sex %>

              <%#= User.sex_i18n[@user.sex] %>
              <%#= f.hidden_field :payment_method, value: @order.payment_method %>
            </td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td>
              <%= @user.email %>
            </td>
          </tr>
      </tbody>
    </table>

    <p class="notice"></p>
      <div class="container">
        <div class="row">
          <h6>投稿履歴</h6>
            <div class="form-group">
              <%= link_to "一覧を見る", comment_path, class:"btn btn-outline-success btn-sm" %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>

